<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Template_Cons_CS.ConsoleSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Template_Cons_CS.ConsoleSettings>
            <setting name="ConnectSynopsis" serializeAs="String">
                <value>connect &lt;machine_name&gt;</value>
            </setting>
            <setting name="ConnectDescription" serializeAs="String">
                <value>Connects to a Speedway Reader.</value>
            </setting>
            <setting name="DisconnectSynopsis" serializeAs="String">
                <value>disconnect</value>
            </setting>
            <setting name="DisconnectDescription" serializeAs="String">
                <value>Disconnects a connected Speedway Reader.</value>
            </setting>
            <setting name="LoadFactorySettingsSynopsis" serializeAs="String">
                <value>loadfactorysettings</value>
            </setting>
            <setting name="LoadFactorySetttingsDescription" serializeAs="String">
                <value>Load factory settings clears the currently
connected Speedway Reader's current
settings, and replaces them with factory
default settings.</value>
            </setting>
            <setting name="LogLevelSynopsis" serializeAs="String">
                <value>loglevel &lt;new_level&gt;</value>
            </setting>
            <setting name="LogLevelDescription" serializeAs="String">
                <value>Changes the logging level of the library to the new level.</value>
            </setting>
            <setting name="QueryFactorySettingsSynopsis" serializeAs="String">
                <value>queryfactorysettings [file_path]</value>
            </setting>
            <setting name="QueryFactorySettingsDescription" serializeAs="String">
                <value>Reads the factory settings from the
connected Speedway Reader. Optionally
it saves them to the path specified.</value>
            </setting>
            <setting name="QueryFeatureSetSynopsis" serializeAs="String">
                <value>queryfeatureset [file_path]</value>
            </setting>
            <setting name="QueryFeatureSetDescription" serializeAs="String">
                <value>Reads the feature set from the connected
Speedway Reader. Optionally it saves them
to the path specified.</value>
            </setting>
            <setting name="QueryStatusSynopsis" serializeAs="String">
                <value>querystatus refreshtype [file_path]</value>
            </setting>
            <setting name="QueryStatusDescription" serializeAs="String">
                <value>Reads the status from the connected
Speedway Reader. Optionally it saves
them to the path specified. Valid
refresh type values are: None, Everything,
JustAntennas, and JustGpis.</value>
            </setting>
            <setting name="QueryTagsSynopsis" serializeAs="String">
                <value>querytags &lt;duration_in_seconds&gt; [file_path]</value>
            </setting>
            <setting name="QueryTagsDescription" serializeAs="String">
                <value>Queries tags from the connected Speedway
Reader for the duration specified. Optionally
it saves them to the path specified.</value>
            </setting>
            <setting name="QuitSynopsis" serializeAs="String">
                <value>quit</value>
            </setting>
            <setting name="QuitDescription" serializeAs="String">
                <value>Quits the console.</value>
            </setting>
            <setting name="SaveSettingsSynopsis" serializeAs="String">
                <value>savesettings &lt;file_path&gt;</value>
            </setting>
            <setting name="SaveSettingsDescription" serializeAs="String">
                <value>Saves the last known settings to the specified path.</value>
            </setting>
            <setting name="SetGpoSynopsis" serializeAs="String">
                <value>setgpo &lt;port_number&gt; &lt;new_level&gt;</value>
            </setting>
            <setting name="SetGpoDescription" serializeAs="String">
                <value>Set the specified GPO port on the connected Speedway
Reader to the new level.</value>
            </setting>
            <setting name="UpdateTagSynopsis" serializeAs="String">
                <value>updatetag &lt;match_tag_epc&gt; &lt;new_tag_epc&gt;</value>
            </setting>
            <setting name="UpdateTagDescription" serializeAs="String">
                <value>Singulates tags on the connected Speedway Reader. If a match
is found, the matched tag is updated with the new tag epc.</value>
            </setting>
            <setting name="LoadSettingsSynopsis" serializeAs="String">
                <value>loadsettings &lt;file_path&gt;</value>
            </setting>
            <setting name="LoadSettingsDescription" serializeAs="String">
                <value>Loads the settings from the specified path and changes
the connected reader to use the settings.</value>
            </setting>
        </Template_Cons_CS.ConsoleSettings>
    </userSettings>
</configuration>