<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Template_Wpf.SettingsWpf" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Template_Wpf.WpfSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Template_Wpf.SettingsWpf>
            <setting name="AutoStartReadersPath" serializeAs="String">
                <value>autoStartReaders.xml</value>
            </setting>
            <setting name="AutoConnectReadersAsXml" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectReaderIntervalInMs" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="MaxTagCollectionCount" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MaxLogCollectionCount" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TagCollectionPruneCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LogCollectionPruneCount" serializeAs="String">
                <value>500</value>
            </setting>
        </Template_Wpf.SettingsWpf>
        <Template_Wpf.WpfSettings>
            <setting name="AutoConnectReadersAsXml" serializeAs="String">
                <value />
            </setting>
        </Template_Wpf.WpfSettings>
    </userSettings>
</configuration>